
{% extends 'base.html' %}
{% load static %}


{% block content %}

  <!-- About Start -->
  <div class="container bg-white pt-5">
    <div class="row px-3 pb-5">
        <div class="col-md-12">
            <!-- <h2 class="mb-4 font-weight-bold">Article writer with 10 years of experience</h2> -->
            <img class="img-fluid float-left w-50 mr-4 mb-3" src="{% static 'img/chris.jpg' %}" alt="Image">
            <p class="m-0" style="text-align: justify;">
                I am an experienced Technical Engineer with a strong background in IT support and over 10+ years of experience in the information technology and services industry. I excel in providing top-notch technical support for both hardware and software issues, both onsite and remotely.
                Throughout my IT career, I have developed additional skills. I have acquired knowledge in virtualization using Proxmox, Ansible for configuring systems, deploy software and system updates to provide custom solutions and automate tasks. I also have hands-on experience with Docker. Leveraging Docker, I have improved development workflows, simplified application deployment, and ensured software portability across different environments.
                Furthermore, I possess programming skills in Django, Laravel and JS, combine with SQL Database allowing me to develop web applications. I have used programming to create scripts, develop small-scale applications, and integrate Docker into larger software solutions.
                With my expertise in IT support, virtualization using Proxmox, Ansible, Docker experience, and programming skills, I am well-equipped to handle complex technical challenges and deliver efficient solutions. My goal is to enhance operational effectiveness and maximize productivity in the IT environment.
            </p>
        </div>
        <div class="col-md-12 pt-4">
            <div class="d-flex flex-column skills">
                <div class="progress w-100 mb-4">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Adaptability</div>
                </div>
                <div class="progress w-100 mb-4">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">Research</div>
                </div>
                <div class="progress w-100">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Editing</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


{% endblock %}