
{% extends 'base.html' %}
{% load static %}


{% block content %}

    <!-- Blog List Start -->
    {% if posts %}
        {% for post in posts %}
            <div class="container bg-white pt-5">
                <div class="row blog-item px-3 pb-5">
                    <div class="col-md-5">
                        <img class="img-fluid mb-4 mb-md-0" src="{{ post.photo_main.url }}" alt="Image">
                    </div>
                    <div class="col-md-7">
                        <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">{{post.title}}</h3>
                        <div class="d-flex mb-3">
                            <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i> {{post.created_at}}</small>
                            <small class="mr-2 text-muted"><i class="fa fa-folder"></i> {{post.categories.name }}</small>
                            <small class="mr-2 text-muted"><i class="fa fa-comments"></i> 15 Comments</small>
                        </div>
                        <p>
                            {{post.content}}
                        </p>
                        <a class="btn btn-link p-0" href="">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-md-12">
            <p>No Post available</p>
        </div>
    {% endif %}
    <!-- Blog List End -->
    
    
    <!-- Subscribe Start -->
    <div class="container py-5 px-4 bg-secondary text-center">
        <h1 class="text-white font-weight-bold">Subscribe My Newsletter</h1>
        <p class="text-white">Subscribe and get my latest article in your inbox</p>
        <form class="form-inline justify-content-center">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Your Email">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Subscribe</button>
                </div>
              </div>
        </form>
    </div>
    <!-- Subscribe End -->
    


{% endblock %}